<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/product.css">
</head>
<style>
       
</style>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a class="active" href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contact">contactus</a></li>
            </ul>
        </nav>
    </header>
    <form class="product-form" action="/admin/add-product" method="POST">
        <div class="form-control">
            <label for="title">Name</label>
            <input type="text" name="title" id="title">
            <label for="eamil">Email</label>
            <input type="email" name="title" id="email" title="email">
        </div>
      
    
    </form>
    <a href="/success"><button style="margin-left: 29.5rem;">Submit</button></a>
</body>
</html>